---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import OurStory from '../components/OurStory.astro';
import AdatSection from '../components/AdatSection.astro';
import EventDetails from '../components/EventDetails.astro';
import Gallery from '../components/Gallery.astro';
import GiftSection from '../components/GiftSection.astro';
import GuestWishes from '../components/GuestWishes.astro';
import RSVP from '../components/RSVP.astro';
import Footer from '../components/Footer.astro';
import CoupleSection from '../components/CoupleSection.astro';
---

<Layout 
  title="Wedding Balfir | Bagas & Firda"
  description="Kami mengundang kamu untuk turut berbagi kebahagiaan dalam pernikahan kami dengan adat Batak Simalungun"
>
  <!-- Navigation -->
  <Navbar />

  <!-- Main Content -->
  <main>
    <!-- Hero Section -->
    <Hero />

  <!-- Couple Section -->
  <CoupleSection />
    
    

    <!-- Our Story Section -->
    <OurStory />

    <!-- Adat Pernikahan Section -->
    <AdatSection />

    <!-- Event Details Section -->
    <EventDetails />

    <!-- Gallery Section -->
    <Gallery />

    <!-- Guest Wishes Section -->
    <GuestWishes />

    <!-- RSVP Section -->
    <RSVP />

     <!-- Gift Section -->
    <GiftSection />
  </main>

  <!-- Footer -->
  <Footer />
</Layout>
